<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Nq -->
      <editor
            id="com.zazuko.rdfmapping.fanin.nq.nqfanin.presentation.NqFaninEditorID"
            name="%_UI_NqFaninEditor_label"
            icon="icons/full/obj16/NqFaninModelFile.gif"
            extensions="nq"
            class="com.zazuko.rdfmapping.fanin.nq.nqfanin.presentation.NqFaninEditor"
            contributorClass="com.zazuko.rdfmapping.fanin.nq.nqfanin.presentation.NqFaninActionBarContributor">
      </editor>
   </extension>
   

</plugin>
