<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Nq -->
      <package
            uri="com.zazuko.rdfmapping.fanin.nq"
            class="com.zazuko.rdfmapping.fanin.nq.NqPackage"
            genModel="model/Nq.xcore"/>
   </extension>

</plugin>
